In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [79]:
df=pd.read_csv('labeledTrainData.tsv.zip',header=0,delimiter='\t',quoting=3)

In [80]:
print("NO OF EXAMPLES",df.shape)
df.head()

NO OF EXAMPLES (25000, 3)

         id  sentiment                                             review
0  "5814_8"          1  "With all this stuff going down at the moment ...
1  "2381_9"          1  "\"The Classic War of the Worlds\" by Timothy ...
2  "7759_3"          0  "The film starts with a manager (Nicholas Bell...
3  "3630_4"          0  "It must be assumed that those who praised thi...
4  "9495_8"          1  "Superbly trashy and wondrously unpretentious ...

instead of using to_list() we can directly aslo do df[]

In [81]:
reviews=df['review'].to_list()
sentiment=df['sentiment'].to_list()

In [82]:
import tensorflow as tf

In [136]:
tokenizer=tf.keras.preprocessing.text.Tokenizer(num_words=11664)

In [137]:
tokenizer.fit_on_texts(reviews)

In [138]:
len(tokenizer.word_index)

88582

In [139]:
feautures=tokenizer.texts_to_matrix(reviews,mode='tfidf')

In [140]:
feautures.shape

(25000, 11664)

In [141]:
from keras.models import Sequential
modelclass=tf.keras.models.Sequential()

In [142]:
modelclass.add(tf.keras.layers.BatchNormalization())

In [143]:
modelclass.add(tf.keras.layers.Dense(200,activation='relu'))

In [144]:
modelclass.add(tf.keras.layers.Dense(100,activation='relu'))

In [145]:
modelclass.add(tf.keras.layers.Dense(60,activation='relu'))

In [146]:
modelclass.add(tf.keras.layers.Dense(30,activation='relu'))

In [147]:
modelclass.add(tf.keras.layers.Dense(1,activation='softmax'))

In [148]:
modelclass.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [149]:
feautures

array([[0.        , 2.75042893, 2.34574918, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 2.30286883, 1.49059538, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 2.91332688, 2.96757422, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 2.05416196, 0.71027668, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 2.36932793, 1.69492924, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 2.14727243, 2.58473757, ..., 0.        , 0.        ,
        0.        ]])

In [151]:

modelclass.fit(feautures,sentiment,validation_split=0.2,epochs=3, batch_size=27)

Epoch 1/3
741/741 [==============================] - 16s 21ms/step - loss: 0.0647 - accuracy: 0.4986 - val_loss: 1.6351 - val_accuracy: 0.5056
Epoch 2/3
741/741 [==============================] - 16s 22ms/step - loss: 0.0451 - accuracy: 0.4986 - val_loss: 1.9300 - val_accuracy: 0.5056
Epoch 3/3
741/741 [==============================] - 18s 25ms/step - loss: 0.0330 - accuracy: 0.4986 - val_loss: 2.1774 - val_accuracy: 0.5056